.big-container{
    background-color: darkcyan;
    height: 100vh;
    width: 100%;

}


.todo-container{
  
    display: flex;
    justify-content: space-around;

}
.t-input{
    padding: 5px;
    display: block;
    margin:  auto auto;
}
.t-button{
    padding: 10px;
    border-radius: 10px;
    display: block;
    margin: auto auto;

}
.email-box{
    border: 1px solid white;
    height: 400px;
    width: 300px;
    
    padding: 10px;
}
.label-name{
    font-size: 25px;
    color: aliceblue;
    margin-left: 20px;
}
.con-box{
    height: auto;
    width: auto;
    padding: 10px;
    color: aliceblue;
    border: 1px solid aliceblue;
    border-radius: 10px;
    margin-bottom: 20px;
}