.img-frame{
    height: 300px;

}
.img-fra{
    width: 400px;
}
.info-a{
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
}

.box-info{
    border: 1px solid navy;
    border-radius: 15px;
    padding: 20px;
}
.zxc{
    border-bottom: 2px solid black;
}