.box-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.news-container{
    height: 400px;
    width: 300px;
    border: 1px solid #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-top: 20px;
    padding: 10px;
}
.img-info{
    height: 200px;
    width: 280px;
    display: block;
    margin: 0 auto;

}
.btn-info{
   border: none;
   border-radius: 7px;
   padding: 4px;
   background-color: brown;
   color: #fff;
}
.input-news{
    display: block;
    margin: 10px auto;
    padding: 7px;
    width: 700px;
    border-radius: 10px;
    border: 2px solid bisque;
}